:root {
  --font-family: "Rubik", sans-serif;
  --blue: hsl(246, 80%, 60%);
  --light-red-work: hsl(15, 100%, 70%);
  --soft-blue-play: hsl(195, 74%, 62%);
  --light-red-study: hsl(348, 100%, 68%);
  --lime-green-exercise: hsl(145, 58%, 55%);
  --violet-social: hsl(264, 64%, 52%);
  --soft-orange-selfCare: hsl(43, 84%, 65%);
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);
  --bg-card-hover: hsl(235deg 42% 36%);
}
html,
body {
  width: 100%;
  height: 100%;
}
* {
  font-family: var(--font-family);
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--very-dark-blue);
  color: white;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
}
main {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(2, 190px);
  grid-template-areas:
    "info work play study"
    "info exercise social self-care";
  padding: 25px 0;
  margin: auto 0;
  gap: 25px;
}
.info {
  grid-area: info;
  background-color: var(--dark-blue);
  border-radius: 10px;
}
.part-one {
  background-color: var(--blue);
  padding: 25px;
  border-radius: 10px;
}
.part-one img {
  width: 60px;
  border: 2px solid white;
  border-radius: 50%;
  margin-bottom: 25px;
}
.part-one span {
  display: block;
  font-size: 11px;
  color: var(--pale-blue);
}
.part-one h1 {
  padding: 0 0 30px;
  margin: 0;
  font-weight: 300;
  font-size: 2em;
}
.rate h1 {
  font-size: 2.7em;
  font-weight: 300;
  margin: 0 0 5px 0;
}
.part-two {
  background-color: var(--dark-blue);
  padding: 25px 25px 15px;
  border-radius: 0 0 10px 10px;
}
.part-two p {
  width: fit-content;
  margin: 0;
  padding-bottom: 15px;
  font-size: 14px;
  color: var(--desaturated-blue);
}
.part-two p:hover {
  cursor: pointer;
  color: white;
}
section:not(.info) {
  position: relative;
  overflow: hidden;
}
.head > img {
  width: 60px;
  position: relative;
  left: 125px;
  bottom: 5px;
}
.Work > .head {
  background-color: var(--light-red-work);
  border-radius: 10px 10px 0 0;
  position: absolute;
  width: 100%;
}
.Play > .head {
  background-color: var(--soft-blue-play);
  border-radius: 10px 10px 0 0;
  position: absolute;
  width: 100%;
}
.Study > .head {
  background-color: var(--light-red-study);
  border-radius: 10px 10px 0 0;
  position: absolute;
  width: 100%;
}
.Exercise > .head {
  background-color: var(--lime-green-exercise);
  border-radius: 10px 10px 0 0;
  position: absolute;
  width: 100%;
}
.Social > .head {
  background-color: var(--violet-social);
  border-radius: 10px 10px 0 0;
  position: absolute;
  width: 100%;
}
.Self-care > .head {
  background-color: var(--soft-orange-selfCare);
  border-radius: 10px 10px 0 0;
  position: absolute;
  width: 100%;
}
.card {
  position: relative;
  background-color: var(--dark-blue);
  border-radius: 10px;
  padding: 20px;
  top: 35px;
}
.card:hover {
  cursor: pointer;
  background-color: var(--bg-card-hover);
}
.top {
  margin: 0 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top p {
  margin: 0;
}
span.menu:hover svg path {
  cursor: pointer;
  fill: white;
}
.card > h1 {
  font-size: 2.3em;
  font-weight: 300;
  margin: 0 0 10px;
}
.bottom {
  font-size: 12px;
  color: var(--pale-blue);
}
.Work {
  grid-area: work;
}
.Play {
  grid-area: play;
}
.Study {
  grid-area: study;
}
.Exercise {
  grid-area: exercise;
}
.Social {
  grid-area: social;
}
.Self-care {
  grid-area: self-care;
}
.checked {
  color: white !important;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1020px) {
  main {
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas: "info" "work" "play" "study" "exercise" "social" "self-care";
    padding: 50px 10%;
  }
  section {
    margin: 0 auto;
    width: -webkit-fill-available;
  }
  .part-one {
    display: flex;
    align-items: center;
  }
  .part-one img {
    margin: 0 15px 0 0;
    width: 50px;
  }
  .part-one h1 {
    font-size: 1.5em;
    padding: 0;
  }
  br {
    display: none;
  }
  .part-two {
    display: flex;
    justify-content: space-around;
  }
  .head > img {
    position: relative;
    left: 75%;
  }
  section:not(.info) {
    border-radius: 10px;
  }
  .rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
